<footer>
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-sm-8">
        <div class="footer-widget about-widget">
          <h2>Apropos</h2>
          <p>M & F</p>
          <img src="assets/images/Logo.png" alt="" />
        </div>
      </div>
      
      <div class="col-lg-4 col-sm-8">
        <div class="footer-widget about-widget">
          <h2>Questions</h2>
          <div class="fw-latest-post-widget">
            <div class="lp-item">
              <div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/1.jpg"></div>
              <div class="lp-content">
                <h6>IT formationInformatique</h6>
                <span>avr 11, 2020</span>
                <a href="#" class="readmore">
                  <br>
                  Lire la suite...</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-8">
        <div class="footer-widget contact-widget">
          <div class="con-info">
            <span class="text-light">C.</span>
            <p>la société formationInformatiquess </p>
          </div>
          <div class="con-info">
            <span class="text-light">B.</span>
            <p>121 tetouane, mhanech </p>
          </div>
          <div class="con-info">
            <span class="text-light">T.</span>
            <p>+212 642 939 310</p>
          </div>
          <div class="con-info">
            <span class="text-light">E.</span>
            <p>formationInformatique@gmail.com</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>