<section class="featured-blog mtb-40">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img1.jpg" alt="blog1" />
          <h3>Spring Boot</h3>
          <p>Par <span>M&F</span> en <span>01 Avril 2020</span></p>
          <p>Spring Boot est un projet ou un micro framework qui a notamment pour but de faciliter la configuration d'un projet Spring et de réduire le temps alloué au démarrage d'un projet.</p>
          <a href="detail.html" class="btn btn-danger">Lire la suite...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img2.jpg" alt="blog1" />
          <h3>Laravel</h3>
          <p>Par <span>M&F</span> en <span> 13 Mars 2020</span></p>
          <p>Laravel est un framework web open-source écrit en PHP1 respectant le principe modèle-vue-contrôleur et entièrement développé en programmation orientée objet. Laravel est distribué sous licence MIT, avec ses sources hébergées sur GitHub. </p>
          <a href="detail.html" class="btn btn-danger">Lire la suite...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img3.jpg" alt="blog1" />
          <h3>RPA</h3>
          <p>Par <span>M&F</span> en <span>12 Février 2020</span></p>
          <p>L'automatisation des processus robotiques (ou RPA) est une forme de technologie d'automatisation des processus métier (parfois appelée robotique logicielle.</p>
          <a href="detail.html" class="btn btn-danger">Lire la suite...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img4.png" alt="blog1" />
          <h3>UIPATH</h3>
          <p>Par <span>M&F</span> en <span>01 Février 2020</span></p>
          <p>UiPath est une société de logiciels mondiale qui développe une plate-forme pour l'automatisation des processus robotiques.  </p>
          <a href="detail.html" class="btn btn-danger">Lire la suite...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img5.jpg" alt="blog1" />
          <h3>Django</h3>
          <p>Par <span>M&F</span> en <span>26 Janvier 2020</span></p>
          <p>Django est un framework, développé en Python (dont le nom est un hommage à Django Reinhardt) </p>
          <a href="detail.html" class="btn btn-danger">Lire la suite...</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="blog-box">
          <img src="assets/images/img6.png" alt="blog1" />
          <h3>Flutter</h3>
          <p>Par <span>M&F</span> en <span>20 Septembre 2020</span></p>
          <p>Flutter, le framework de Google permettant de concevoir des applications multiplateforme pour Android et iOS, est désormais disponible en Release Preview 2. </p>
          <a href="detail.html" class="btn btn-danger">Lire la suite...</a>
        </div>
      </div>
    </div>
  </div>
</section>